 <!DOCTYPE html>
<html>
<body>
	<center><h1>Agriculture Automation With Crop Yield Prediction</h1></center>
	<center><h2>Crop Yield Report</h2></center><br><br>
	<p style="font-size: 25px; font-weight: bold;">Name: {{uname}}</p><br>
	<p style="font-size: 20px;">Email: {{uemail}}</p><br>
	<p style="font-size: 20px;">City: {{ucity}} (Lat: {{ulat}} , Lon: {{ulon}})</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<p style="font-size: 20px;">Land Area: <b>{{uarea}} Vigha</b></p><br>
	<center><h2>Predicted Result</h2><br></center>
	<p style="font-size: 20px;">Season: {{useason}}({{uyear}})</p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	<p style="font-size: 20px;">Crop: <b>{{ucrop}}</b></p><br>
	<p style="font-size: 20px;">General Prediction: {{upred}} kg / vigha</p><br>
	<p style="font-size: 25px;">Total Prediction for {{uarea}} Vigha area: <b>{{utotal}} kg</b></p><br><br><br>
	<p style="color: red"><i>*&nbsp;Methodology to predict the yield of the crops using different parameters like rainfall, temperature, geographical situation and other<br>&nbsp;&nbsp;atmospheric conditions and parameters.<br>
      *&nbsp;The influence of climate change and its unpredictability, has caused majority of the agricultural crops to be affected in terms of their<br>&nbsp;&nbsp;production and maintenance.<br>
      *&nbsp;Forecasting or predicting the crop yield well ahead of its harvest time would assist the strategists<br>
    *&nbsp;So that above yield prediction may be vary according to weather situation.</i></p><br><br>
    <p>&copy; 2020 Pro Agriculture<p>
    <p>Developed by K Khant</p>
</body>
</html> 